/* Ajustes de tamaño de fuente para dispositivos móviles */

@media (max-width: 768px) {
    body {
        font-size: 14px;
        /* Tamaño de fuente base para dispositivos móviles */
    }

    h1 {
        font-size: 1.8em;
        /* Ajustar el tamaño del título para pantallas pequeñas */
    }

    p {
        font-size: 1.1em;
        /* Ajustar el tamaño del párrafo para pantallas pequeñas */
    }
}

/* Ajustes adicionales para dispositivos más pequeños (opcional) */

@media (max-width: 480px) {
    h1 {
        font-size: 1.6em;
    }

    p {
        font-size: 1em;
    }
}